input {
    width: 100%;
    height: 3.125rem;
    padding: 0px 1rem;
    border-radius: 8px;
    background-color: var(--gray-1);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;

    color: var(--gray-5);
}

select {
    width: 100%;
    height: 3rem;
    padding: 0px 1rem;
    margin-top: 0.625rem;
    border: none;
    border-radius: 8px;
    background: var(--gray-1) url(/src/assets/angle-down.png) 285px 20px no-repeat;
    color: var(--gray-3);

    display: flex;
    align-items: center;
    appearance: none;

    :nth-child(1n + 2) {
        color: var(--gray-4);
    }
}

.empty-alert {
    border: 2px solid #ff2828;
}

.btn.primary {
    display: flex;
    width: 100%;
    height: 3rem;
    padding: 13px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--primary);
    color: #fff;
    &:hover {
        background-color: var(--primary-2);
    }
}

.btn {
    padding: 3px 9px;
    background: var(--gray-2);
    border-radius: 2px;
    align-self: end;

    &:hover {
        background: var(--gray-3);
    }
}

button {
    &:active {
        animation: active-btn .2s;
    }
}

@keyframes active-btn {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1);
    }
}