:root {
    --primary: #FD377E;
    --primary-2: #E34981;
    --secondary: #03B898;
    --gray-1: #F8F9FA;
    --gray-2: #E9ECEF;
    --gray-3: #868E96;
    --gray-4: #212529;

    --font-primary: 'Nunito', sans-serif;
}