* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

input, button {
    border: none;
    background: transparent;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
}