.totalMoney {
    width: 100%;
    // max-width: 355px;
    height: 5.9375rem;
    border-radius: 4px;
    border: 1px solid var(--gray-2);
    padding: 1.25rem;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}